HMI/Service References/GASServiceReference/GasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthByPasswordNoSys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_PassWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthByPasswordNoSysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthByPasswordNoSysResult" type="tns:CMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="l_Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="l_Return" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthByPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_PassWd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_System" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthByPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthByPasswordResult" type="tns:CMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:CMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIsDefaultPassWd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIsDefaultPassWdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckIsDefaultPassWdResult" type="tns:CMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenewPassWd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_NewPassWd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenewPassWdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenewPassWdResult" type="tns:CMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_Acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AuthByPasswordNoSysSoapIn">
    <wsdl:part name="parameters" element="tns:AuthByPasswordNoSys" />
  </wsdl:message>
  <wsdl:message name="AuthByPasswordNoSysSoapOut">
    <wsdl:part name="parameters" element="tns:AuthByPasswordNoSysResponse" />
  </wsdl:message>
  <wsdl:message name="AuthByPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:AuthByPassword" />
  </wsdl:message>
  <wsdl:message name="AuthByPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:AuthByPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CheckIsDefaultPassWdSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIsDefaultPassWd" />
  </wsdl:message>
  <wsdl:message name="CheckIsDefaultPassWdSoapOut">
    <wsdl:part name="parameters" element="tns:CheckIsDefaultPassWdResponse" />
  </wsdl:message>
  <wsdl:message name="RenewPassWdSoapIn">
    <wsdl:part name="parameters" element="tns:RenewPassWd" />
  </wsdl:message>
  <wsdl:message name="RenewPassWdSoapOut">
    <wsdl:part name="parameters" element="tns:RenewPassWdResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmailSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmail" />
  </wsdl:message>
  <wsdl:message name="AddEmailSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="GasServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthByPasswordNoSys">
      <wsdl:input message="tns:AuthByPasswordNoSysSoapIn" />
      <wsdl:output message="tns:AuthByPasswordNoSysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthByPassword">
      <wsdl:input message="tns:AuthByPasswordSoapIn" />
      <wsdl:output message="tns:AuthByPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIsDefaultPassWd">
      <wsdl:input message="tns:CheckIsDefaultPassWdSoapIn" />
      <wsdl:output message="tns:CheckIsDefaultPassWdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenewPassWd">
      <wsdl:input message="tns:RenewPassWdSoapIn" />
      <wsdl:output message="tns:RenewPassWdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <wsdl:input message="tns:AddEmailSoapIn" />
      <wsdl:output message="tns:AddEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GasServiceSoap" type="tns:GasServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthByPasswordNoSys">
      <soap:operation soapAction="http://tempuri.org/AuthByPasswordNoSys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthByPassword">
      <soap:operation soapAction="http://tempuri.org/AuthByPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIsDefaultPassWd">
      <soap:operation soapAction="http://tempuri.org/CheckIsDefaultPassWd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewPassWd">
      <soap:operation soapAction="http://tempuri.org/RenewPassWd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <soap:operation soapAction="http://tempuri.org/AddEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GasServiceSoap12" type="tns:GasServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthByPasswordNoSys">
      <soap12:operation soapAction="http://tempuri.org/AuthByPasswordNoSys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthByPassword">
      <soap12:operation soapAction="http://tempuri.org/AuthByPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIsDefaultPassWd">
      <soap12:operation soapAction="http://tempuri.org/CheckIsDefaultPassWd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewPassWd">
      <soap12:operation soapAction="http://tempuri.org/RenewPassWd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <soap12:operation soapAction="http://tempuri.org/AddEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GasService">
    <wsdl:port name="GasServiceSoap" binding="tns:GasServiceSoap">
      <soap:address location="http://172.26.100.8/GAS/GasService.asmx" />
    </wsdl:port>
    <wsdl:port name="GasServiceSoap12" binding="tns:GasServiceSoap12">
      <soap12:address location="http://172.26.100.8/GAS/GasService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>